# Bavitech License Platform (BLP)
# Giá trị thật do người dùng tự điền trong .env:
#   BLP_URL         - địa chỉ BLP server
#   PRODUCT_API_KEY - lấy ở tab Products trên dashboard BLP
BLP_URL=https://your-blp-domain
PRODUCT_API_KEY=
